.product-card {
  width: 300px;
  display: block;
  height: 296px;
  background-color: white;
  border-radius: 0px 0px 6px 6px;

  img {
    width: 100%;
    display: block;
    border-radius: 6px 6px 0px 0px;
  }

  .product-name {
    display: block;
    margin-top: 25px;
    color: gray;
    font-size: 14px;
    padding: 0px 6px;
  }

  .product-price {
    display: block;
    padding: 0px 6px;
    font-size: 14px;
    margin-top: 4px;
    font-weight: bold;
  }
}