.transaction-history-container {
  width: calc(100% - 32px);
	height: calc(100vh - (54px + 32px));
	background-color: #e7e7e7;
	padding: 16px;

  .list-transaction {
    padding: 0px 42px;

    .list-title {
      background-color: white;
      width: 166px;
      padding: 4px 16px;
      border-radius: 4px 4px 0px 0px;
      font-size: 18px;
      color: #222;
      margin: 0px;
    }

    .list-content {
      width: calc(100% - 16px);
      background-color: white;
      height: 68vh;
      padding: 12px 8px;
      border-radius: 0px 4px 4px 4px;
      overflow: auto;

      .transaction-card {
        display: flex;
        padding: 8px 16px;
        border-bottom: 1px dashed black;

        .transaction-info {
          .transaction-name {
            display: block;
            font-weight: bold;
          }

          .transaction-type {
            background-color: #44a8ff;
            color: white;
            padding: 0px 8px;
            border-radius: 8px;
            display: inline-flex;
            margin-left: 8px;

            span { font-size: 12px; }
          }

        }

        .transaction-date {
          margin-left: auto;
          
        }
      }
    }
  }
}